ul{
    list-style-type:none;
    display: flex;
    background-color:rgb(216, 54, 54);
   /* border: 5px solid;*/
   padding: 5px;
   
   

}
*{
    margin: 0;
}
a{
    /*border: 2px solid orange;*/
    margin: 5px;
    color: white;
    text-decoration:none;
    padding: 5px;
    

}
a:hover{
    background-color:yellowgreen;
}
